body{
    height: 700vh;
    background-color: black;
}
body::-webkit-scrollbar {
    width: 20px;
      
   
}

body::-webkit-scrollbar-track {
    background: black;
}

body::-webkit-scrollbar-thumb {
    background-color: red;
    border-radius: 20px;

    /* Yeh padding trick height choti dikhata hai thumb ki */
    height: 10px;
    border: 3px solid transparent;
    background-clip: content-box;
}
.cs{
    font-size: 78px ;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

      color: #ff0000;
      text-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000;
      animation: flicker 0.15s infinite alternate;
}
.matrix-text {
    color: #00ff00;
    background-color: black;
    font-family: 'Courier New', monospace;
    padding: 25px;
    font-size: 18px; /* Thoda bada */
    line-height: 1.6;
    text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00;
    animation: flicker 0.15s infinite alternate;
}

@keyframes flicker {
    from { opacity: 1; }
    to { opacity: 0.85; }
}


@keyframes flicker {
    from { opacity: 1; text-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000; }
    to { opacity: 0.7; text-shadow: 0 0 2px #ff0000, 0 0 5px #ff0000; }
}